<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alienBeige.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>alienBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,196},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>alienGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,194},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>alienPink.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,262},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>alienYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,327},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>bushAutumn.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,544},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>bushDirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,544},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>bushGrass.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,67},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>bushMagic.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,328},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>bushSand.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,507},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>bushSnow.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,529},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>flowerBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,70},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>flowerGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,515},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>flowerRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,516},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>flowerWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,83},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>flowerYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,529},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>hillAutumn.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,515},{33,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,12}}</string>
                <key>sourceSize</key>
                <string>{33,12}</string>
            </dict>
            <key>hillDirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,507},{33,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,12}}</string>
                <key>sourceSize</key>
                <string>{33,12}</string>
            </dict>
            <key>hillGrass.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,521},{33,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,12}}</string>
                <key>sourceSize</key>
                <string>{33,12}</string>
            </dict>
            <key>hillMagic.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,535},{33,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,12}}</string>
                <key>sourceSize</key>
                <string>{33,12}</string>
            </dict>
            <key>hillSand.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,549},{33,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,12}}</string>
                <key>sourceSize</key>
                <string>{33,12}</string>
            </dict>
            <key>hillSnow.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,516},{33,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,12}}</string>
                <key>sourceSize</key>
                <string>{33,12}</string>
            </dict>
            <key>pineAutumn_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,93},{30,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,99}}</string>
                <key>sourceSize</key>
                <string>{30,99}</string>
            </dict>
            <key>pineAutumn_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,70},{30,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,79}}</string>
                <key>sourceSize</key>
                <string>{30,79}</string>
            </dict>
            <key>pineAutumn_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,93},{30,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,101}}</string>
                <key>sourceSize</key>
                <string>{30,101}</string>
            </dict>
            <key>pineBlue_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,354},{30,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,99}}</string>
                <key>sourceSize</key>
                <string>{30,99}</string>
            </dict>
            <key>pineBlue_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,354},{30,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,79}}</string>
                <key>sourceSize</key>
                <string>{30,79}</string>
            </dict>
            <key>pineBlue_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,354},{30,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,101}}</string>
                <key>sourceSize</key>
                <string>{30,101}</string>
            </dict>
            <key>pineGreen_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,457},{30,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,99}}</string>
                <key>sourceSize</key>
                <string>{30,99}</string>
            </dict>
            <key>pineGreen_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,435},{30,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,79}}</string>
                <key>sourceSize</key>
                <string>{30,79}</string>
            </dict>
            <key>pineGreen_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,457},{30,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,101}}</string>
                <key>sourceSize</key>
                <string>{30,101}</string>
            </dict>
            <key>rockDirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,264},{55,63}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{55,63}}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
            <key>rockDirt_moss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{57,63}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{57,63}</string>
            </dict>
            <key>rockDirt_moss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,263},{57,63}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{57,63}</string>
            </dict>
            <key>rockDirt_moss3.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{57,63}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{57,63}</string>
            </dict>
            <key>rockSnow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,67},{57,63}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{57,63}</string>
            </dict>
            <key>rockSnow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,197},{55,63}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{55,63}}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
            <key>rockSnow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,262},{55,63}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{55,63}}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
            <key>rockStone.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,329},{55,63}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{55,63}}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
            <key>rockStone_moss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,132},{57,63}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{57,63}</string>
            </dict>
            <key>rockStone_moss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,197},{57,63}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{57,63}</string>
            </dict>
            <key>rockStone_moss3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,262},{57,63}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{57,63}</string>
            </dict>
            <key>smallRockDirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,394},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>smallRockGrass.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,156},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>smallRockSnow.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,151},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>smallRockStone.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,497},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>tileAutumn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileAutumn_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileAutumn_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,330},{55,57}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>tileDirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileDirt_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileDirt_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,327},{55,57}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>tileGrass.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,93},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileGrass_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileGrass_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,389},{55,57}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>tileLava.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileLava_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,184},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileLava_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,389},{55,57}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>tileMagic.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,93},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileMagic_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileMagic_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,386},{55,57}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>tileRock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileRock_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,275},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileRock_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,397},{55,57}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>tileSand.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,184},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileSand_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,93},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileSand_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,456},{55,57}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>tileSnow.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileSnow_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,366},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileSnow_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,448},{55,57}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>tileStone.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,275},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileStone_bridge.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,275},{65,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,77}}</string>
                <key>sourceSize</key>
                <string>{65,77}</string>
            </dict>
            <key>tileStone_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,184},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileStone_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,507},{55,57}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>tileWater.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,93},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileWater_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileWater_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,366},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileWater_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,448},{55,57}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>tileWood_bridge.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,184},{65,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,77}}</string>
                <key>sourceSize</key>
                <string>{65,77}</string>
            </dict>
            <key>treeAutumn_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{27,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,107}}</string>
                <key>sourceSize</key>
                <string>{27,107}</string>
            </dict>
            <key>treeAutumn_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,455},{27,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,87}}</string>
                <key>sourceSize</key>
                <string>{27,87}</string>
            </dict>
            <key>treeAutumn_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,457},{27,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,107}}</string>
                <key>sourceSize</key>
                <string>{27,107}</string>
            </dict>
            <key>treeBlue_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,457},{27,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,107}}</string>
                <key>sourceSize</key>
                <string>{27,107}</string>
            </dict>
            <key>treeBlue_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,93},{27,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,87}}</string>
                <key>sourceSize</key>
                <string>{27,87}</string>
            </dict>
            <key>treeBlue_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,457},{27,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,107}}</string>
                <key>sourceSize</key>
                <string>{27,107}</string>
            </dict>
            <key>treeCactus_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,329},{32,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,66}}</string>
                <key>sourceSize</key>
                <string>{32,66}</string>
            </dict>
            <key>treeCactus_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,429},{29,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,66}}</string>
                <key>sourceSize</key>
                <string>{29,66}</string>
            </dict>
            <key>treeCactus_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,448},{32,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,66}}</string>
                <key>sourceSize</key>
                <string>{32,66}</string>
            </dict>
            <key>treeGreen_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,457},{27,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,107}}</string>
                <key>sourceSize</key>
                <string>{27,107}</string>
            </dict>
            <key>treeGreen_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,67},{27,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,87}}</string>
                <key>sourceSize</key>
                <string>{27,87}</string>
            </dict>
            <key>treeGreen_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,457},{27,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,107}}</string>
                <key>sourceSize</key>
                <string>{27,107}</string>
            </dict>
            <key>waveLava.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,530},{33,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,10}}</string>
                <key>sourceSize</key>
                <string>{33,10}</string>
            </dict>
            <key>waveWater.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,542},{33,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,10}}</string>
                <key>sourceSize</key>
                <string>{33,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>test-atlas-cocos2d.png</string>
            <key>size</key>
            <string>{566,566}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d97bccec93be8dcdebd5838ba28279d:f5cfecc5448df9781d9b102c9baf877a:dc1aa8711145919a9a092c6d46e4f54d$</string>
            <key>textureFileName</key>
            <string>test-atlas-cocos2d.png</string>
        </dict>
    </dict>
</plist>
